<!--
  Generated template for the ImportInstagram page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ImportInstagram</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <ion-spinner *ngIf="!pictures" color="danger"></ion-spinner>
  <ion-grid>
    <ion-row wrap>
      <ion-col width-33 *ngFor="let picture of pictures; let i = index">
        <img [src]="picture.images.low_resolution.url" width="picture.images.low_resolution.width" width="picture.images.low_resolution.height">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
