page-setup {
  textarea {
    resize: none;
  }
  h1 {
    position: absolute;
    top: 5%;
  }
  p.subtitle {
    position: absolute;
    top: 7%;
    font-size: 0.8em;
    text-align: left;
  }

  #photos {
    ion-card {
      position: relative;
      text-align: center;
      padding: 20px 0;
    }
    ion-icon {
      font-size: 32pt;
    }
    ion-icon[name=camera] {
      font-size: 60pt;
    }
  }
}
