<ion-content padding>
  <ion-slides #slider [options]="sliderOptions" (ionDrag)="onIonDrag($event)" (ionDidChange)="onSlideChange()">
    <!-- Welcome -->
    <ion-slide>
      <ion-card>
        <ion-card-header>Thank you!</ion-card-header>
        <ion-card-content>
          Hi and welcome to Cherri, thank you so much for installing and signing in to Cherri!<br><br>
          We sincerely hope you'll like the experience and we are looking forward to seeing you meeting new people. Should you have any questions or suggestions, feel free to drop us a line at contact@getcherri.com!<br><br>
          We will now present you with our Terms and Conditions, and then ask you a few questions in order to know you better and get you all set, this shouldn't take more than 5 minutes.
        </ion-card-content>
      </ion-card>
      <button 
        ion-button block large 
        (click)="goTo(1)">
        Next
      </button>
    </ion-slide>

    <!-- Gender and age -->
    <ion-slide>
      <ion-grid>
        <ion-row center>
          <ion-col width-100><h1>About me</h1></ion-col>
        </ion-row>
        <ion-row center>
          <ion-col>
            <button 
              (click)="selectGender('H')" 
              ion-button icon-only round 
              [outline]="!userData.gender || userData.gender === 'F'"
              [large]="userData.gender === 'H'">            
              <ion-icon name="man"></ion-icon>
            </button>
          </ion-col>
          <ion-col>I am</ion-col>
          <ion-col>
            <button 
              (click)="selectGender('F')" 
              ion-button icon-only round 
              [outline]="!userData.gender || userData.gender === 'H'"
              [large]="userData.gender === 'F'">
              <ion-icon name="woman"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row center>
          <ion-col>
            <button 
              (click)="selectOrientation('H')" 
              ion-button icon-only round 
              [outline]="!userData.orientation || userData.orientation === 'F'"
              [large]="userData.orientation === 'H'">            
              <ion-icon name="man"></ion-icon>
            </button>
          </ion-col>
          <ion-col>Looking for</ion-col>
          <ion-col>
            <button 
              (click)="selectOrientation('F')" 
              ion-button icon-only round 
              [outline]="!userData.orientation || userData.orientation === 'H'"
              [large]="userData.orientation === 'F'">
              <ion-icon name="woman"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Aged</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-range dualKnobs="true" [(ngModel)]="userData.ageRange" min="18" max="60" step="1" snaps="false">
              <ion-label range-left>{{ userData.ageRange.lower }}</ion-label>
              <ion-label range-right>{{ userData.ageRange.upper }}</ion-label>
            </ion-range>
          </ion-col>
        </ion-row>
        <ion-row center>
          <ion-col width-100>
            <button 
              [disabled]="!userData.gender || !userData.orientation" 
              ion-button block large 
              (click)="goTo(1)">
              Next
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Location -->
    <ion-slide>
      <h1>About me</h1>
        <ion-list>
          <ion-item>
            <ion-label floating>Country</ion-label>
            <ion-input [(ngModel)]="userData.location.country" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>City</ion-label>
            <ion-input [(ngModel)]="userData.location.city" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Post Code</ion-label>
            <ion-input [(ngModel)]="userData.location.postcode" type="text"></ion-input>
          </ion-item>
      </ion-list>
      <ion-fab bottom right>
        <button ion-fab (click)="getLocation()">
          <ion-icon name="locate"></ion-icon>
        </button>
      </ion-fab>

      <button 
        [disabled]="!userData.city" 
        ion-button block large 
        (click)="goTo(1)">
        Next
      </button>
      <button ion-button block large (click)="goTo(-1)">
        Back
      </button>
    </ion-slide>

    <!-- Age -->
    <ion-slide>
      <h1>About me</h1>
      <ion-list>
        <ion-item>
          <ion-label floating>I was born on</ion-label>
          <ion-input type="text" [(ngModel)]="userData.birthdate" (click)="showDatePicker()"></ion-input>
        </ion-item>
      </ion-list>
      <button 
        [disabled]="!userData.birthdate" 
        ion-button block large 
        (click)="goTo(1)">
        Next
      </button>
      <button ion-button block large (click)="goTo(-1)">
        Back
      </button>
    </ion-slide>

    <!-- I love -->
    <ion-slide>
      <h1>I love...</h1>
      <p class="subtitle">List the 5 things you love the most. It can be anything, an activity, a meal, clothes, a song... Be creative and sincere!</p>
      <ion-list>
        <ion-item *ngFor="let item of userData.loves; let i = index">
          <ion-label color="danger">&hearts;</ion-label>
          <ion-input [(ngModel)]="userData.loves[i].value"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block large (click)="goTo(1)">Next</button>
      <button ion-button block large (click)="goTo(-1)">Back </button>
    </ion-slide>

    <!-- I hate -->
    <ion-slide>
      <h1>I hate...</h1>
      <p class="subtitle">Now list the 5 things you <em>hate</em> the most.</p>
      <ion-list>
        <ion-item *ngFor="let item of userData.hates; let i = index">
          <ion-label color="primary">&spades;</ion-label>
          <ion-input [(ngModel)]="userData.hates[i].value"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block large (click)="goTo(1)">Next</button>
      <button ion-button block large (click)="goTo(-1)">Back </button>
    </ion-slide>

    <!-- What if desert island -->
    <ion-slide>
      <h1>What if...</h1>
      <p class="subtitle">... you were stranded on a desert island. What 3 things would you miss the most?</p>
      <ion-list>
        <ion-item *ngFor="let item of userData.whatifpos; let i = index">
          <ion-label color="primary"># {{ i + 1 }}</ion-label>
          <ion-input [(ngModel)]="userData.whatifpos[i].value"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block large (click)="goTo(1)">Next</button>
      <button ion-button block large (click)="goTo(-1)">Back </button>
    </ion-slide>

    <!-- What if world master -->
    <ion-slide>
      <h1>What if...</h1>
      <p class="subtitle">... you were the absolute and undisputed ruler of the planet Earth. What 3 things would you like to see abolished or banned?</p>
      <ion-list>
        <ion-item *ngFor="let item of userData.whatifneg; let i = index">
          <ion-label color="primary"># {{ i + 1 }}</ion-label>
          <ion-input [(ngModel)]="userData.whatifneg[i].value"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block large (click)="goTo(1)">Next</button>
      <button ion-button block large (click)="goTo(-1)">Back </button>
    </ion-slide>

    <!-- Flaw -->
    <ion-slide>
      <h1>I confess...</h1>
      <p class="subtitle">"I've got big feet", "I still sleep with my Teddy Bear"... What is this little something that makes you you?</p>
      <ion-list>
        <ion-item>
          <ion-label color="danger">&hearts;</ion-label>
          <ion-input type="text" [(ngModel)]="userData.flaw"></ion-input>
        </ion-item>
      </ion-list>
      <button 
        ion-button block large 
        (click)="goTo(1)">
        Next
      </button>
      <button ion-button block large (click)="goTo(-1)">
        Back
      </button>
    </ion-slide>

    <!-- Photos -->
    <ion-slide id="photos">
      <h1>Smile!</h1>
      <p class="subtitle">Profiles with pictures get 75% more visits, blah blah blah... You know the deal! You can add more pictures later.</p>

      <ion-card (click)="openCamera(1)">
        <ion-icon *ngIf="!userData.avatarSource" name="camera" color="danger"></ion-icon>
        <h3 *ngIf="!userData.avatarSource">Take a picture</h3>
        <img *ngIf="userData.avatarSource" [src]="userData.avatarSource">
      </ion-card>

      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon name="images" (click)="openCamera(0)"></ion-icon>
              </ion-col>
            <ion-col><ion-icon name="logo-instagram" (click)="connectInstagram()"></ion-icon></ion-col>
            <ion-col><ion-icon name="logo-facebook" (click)="connectFacebook()"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>
        <h3>Or import a picture</h3>
      </ion-card>
      <button 
        ion-button block 
        (click)="goTo(1)">
        Next
      </button>
      <button ion-button block (click)="goTo(-1)">
        Back
      </button>
      <button *ngIf="userData.avatarSource" ion-button block color="danger" (click)="uploadPic()"></button>
    </ion-slide>

    <!-- Tweet -->
    <ion-slide>
      <h1>In a tweet?</h1>
      <p class="subtitle">What if you had to describe yourself in 140 characters?</p>
      <ion-list>
        <ion-item>
          <ion-textarea 
          [(ngModel)]="userData.tweet" 
          (keydown.enter)="goTo(1); false"
          maxlength="140" 
          rows="3"></ion-textarea>
        </ion-item>
      </ion-list>
      <button 
        ion-button block large 
        (click)="goTo(1)">
        Done
      </button>
      <button ion-button block large (click)="goTo(-1)">
        Back
      </button>
    </ion-slide>

    <!-- All set -->
    <ion-slide>
      <h1>You're all set!</h1>
      <ion-list>
        <ion-list-header><span>What do you want to do now?</span></ion-list-header>
        <button ion-item icon-left>
          <ion-icon name="heart" item-left></ion-icon>
          <ion-label>Subscribe to <span color="danger">Cherri Premium</span></ion-label>
        </button>
        <button ion-item icon-left>
          <ion-icon name="planet" item-left></ion-icon>
          <ion-label>
            Connect other apps to Cherri<br>
            so you can get better matches
          </ion-label>
        </button>
        <button ion-item icon-left>
          <ion-icon name="pizza" item-left></ion-icon>
          <ion-label>
            Discover people that would<br>
            love you to get in touch
          </ion-label>
        </button>
      </ion-list>
      <button 
        ion-button block large 
        (click)="goToSearch()">
        Skip
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
