<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Login to Cherri</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>

		<ion-item>
			<ion-label floating>Username</ion-label>
			<ion-input type="text" [(ngModel)]="username">user1</ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>Password</ion-label>
			<ion-input type="password" [(ngModel)]="password">password</ion-input>
		</ion-item>

	</ion-list>

	<div padding text-center>
		<button ion-button block (click)="login(username, password)">Log In</button>
    <button ion-button clear (click)="goToSignup()">New to Cherri?</button>
	</div>

  <button ion-button (click)="setApiUrl('http://51.254.114.142:8080')">OVH VPS</button>
  <button ion-button (click)="setApiUrl('http://localhost:8080')">localhost</button>

</ion-content>