<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Conversations" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Search" tabIcon="search"></ion-tab>
  <ion-tab *ngIf="user" [root]="tab3Root" tabTitle="{{user.local.username}}" tabIcon="contact"></ion-tab>
</ion-tabs>
