<!--
  Generated template for the Contacts page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar no-border-top>
		<ion-segment [(ngModel)]="content">
			<ion-segment-button value="conversationSegment" selected>
				Conversations
			</ion-segment-button>
			<ion-segment-button value="favSegment">
				Favourites
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<div [ngSwitch]="content">
		<ion-list *ngSwitchCase="'conversationSegment'">
			<ion-list-header>
				Your conversations
			</ion-list-header>
			<ion-item *ngFor="let conversation of conversations" (click)="conversation.goToConversation()">
				<ion-thumbnail item-left>
					<img src="http://placehold.it/64/000000/ffffff">
				</ion-thumbnail>
				<h2>
					{{ conversation.users[0].local.username }}
				</h2>
				<p>
					{{ conversation.lastMessage.content }}
				</p>
				<ion-note item-right>{{ conversation.lastMessage.date }}</ion-note>
			</ion-item>
		</ion-list>
		<div *ngSwitchCase="'favSegment'">
			<ion-list *ngIf="favs && favs.length > 0">
				<ion-list-header>
					Your favorites
				</ion-list-header>
				<ion-item-sliding *ngFor="let fav of favs">
					<ion-item>
						<ion-thumbnail item-left>
							<img src="http://placehold.it/64/000000/ffffff">
						</ion-thumbnail>
						<h2>
							{{ fav.local.username }}
						</h2>
					</ion-item>
          <ion-item-options>
            <button ion-button color="light" (click)="goToProfile(fav)">
              <ion-icon name="ios-more"></ion-icon>
            </button>
            <button ion-button color="secondary">
              <ion-icon name="text"></ion-icon>
            </button>
            <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
				</ion-item-sliding>
			</ion-list>
			<ion-list *ngIf="favs && favs.length === 0">
				<ion-list-header>
					Your favorites
				</ion-list-header>
				<ion-item>
					You have no favorites yet
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>