<!--
  Generated template for the ImportFacebook page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ImportFacebook</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <ion-spinner name="bubbles" *ngIf="!loaded"></ion-spinner>

  <div *ngIf="loaded">
    <ion-card *ngFor="let album of albums">
      <img [src]="album.photos.data[0].images[0].source">
      <h2>{{ album.name }}</h2>
    </ion-card>
    <ion-card *ngIf="photos">
      <img [src]="photos[0].images[0].source">
      <h2>Photos of you</h2>
    </ion-card>
  </div>
</ion-content>
