<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title *ngIf="contact">{{ contact.local.username }}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-fab top right>
		<button ion-fab><ion-icon name="call"></ion-icon></button>
		<ion-fab-list>
			<button ion-fab tappable><ion-icon name="videocam" (click)="showVideoModal(true, false)"></ion-icon></button>
			<button ion-fab tappable><ion-icon name="mic" (click)="showVideoModal(false, false)"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>
	<p *ngFor="let message of messages">
		{{ message.content }}
	</p>
	<ion-item>
		<ion-textarea placeholder="Send message" [(ngModel)]="message">
		</ion-textarea>
		<button ion-button item-right icon-only clear color="secondary" id="sendMessage" (click)="sendMessage()">
			<ion-icon name="arrow-dropright">
			</ion-icon>
		</button>
	</ion-item>
</ion-content>