<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ profile.local.username }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right>
    <button ion-fab><ion-icon name="arrow-down"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab><ion-icon name="star" (click)="addToFavs()"></ion-icon></button>
      <button ion-fab><ion-icon name="chatbubbles" (click)="startConversation()"></ion-icon></button>     
      <button ion-fab><ion-icon name="alert" (click)="reportOrBlock()"></ion-icon></button>   
    </ion-fab-list>
	</ion-fab>
</ion-content>
