<!--
  Generated template for the Sync page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Connect with {{ app.appname }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding-top>
  <ion-spinner name="bubbles" *ngIf="!appInfo"></ion-spinner>
  <img [src]="appInfo.picture" alt="Image missing" *ngIf="appInfo">
  <h3 *ngIf="appInfo">
    {{ appInfo.username }}
  </h3>
  <p padding>
    <em>
      Remember: none of your personal data is ever stored by Cherri apart from the token that is used to access it, everything comes directly from your {{ app.appname }} profile and is solely used to improve matchings throughout the app. If you want to disconnect Cherri from {{ app.appname }}, press the Disconnect button (you will have to sync {{ app.appname }} again in order to use it with Cherri).
    </em>
  </p>
  <button ion-button full outline no-padding color="danger" *ngIf="appInfo">
    Disconnect Cherri from {{ app.appname }}
  </button>
</ion-content>
