<!--
  Generated template for the Synclist page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sync apps</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-spinner *ngIf="!apps" name="circles"></ion-spinner>
  <ion-list>
    <ion-item *ngFor="let app of appsArray" (click)="goToSyncPage(app)">
      <ion-icon style="color: green" name="checkmark" item-left *ngIf="apps[app].token"></ion-icon>
      <ion-icon style="color: red" name="close" item-left *ngIf="!apps[app].token"></ion-icon>
      <ion-label>{{ apps[app].appname }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
