<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Account <span *ngIf="user">({{ user.local.username }})</span>
    </ion-list-header>
    <ion-item *ngIf="user && !user.premium">
      <ion-icon name="sad" item-left></ion-icon>
      <ion-label><em>Free</em> Subscribe to Cherri now</ion-label>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item *ngIf="user && user.premium">
      <ion-icon name="happy" item-left></ion-icon>
      <ion-label><em>Premium</em> Cancel subscription</ion-label>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Make profile visible to others</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Synchronized apps
    </ion-list-header>
    <ion-item>
      <ion-icon name="facebook" item-left></ion-icon>
      <ion-label>Facebook (ACCOUNT-NAME)</ion-label>
    </ion-item>
    <ion-item (click)="goToSynclist()">
      <ion-label>Synchronize more apps</ion-label>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
