<ion-header>
	<ion-navbar>
		<ion-title>
			Recherche
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngFor="let user of users" (click)="viewProfile(user)">
		<ion-card-header>
      {{ user.local.username }}
		</ion-card-header>
		<ion-card-content>
			<em>TWEET</em><br> IMG, PROVIDERS
		</ion-card-content>
	</ion-card>
</ion-content>