<!--
  Generated template for the Signup page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>signup</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>

		<ion-item>
			<ion-label floating>Email</ion-label>
			<ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
		</ion-item>

    <ion-item>
			<ion-label floating>Username</ion-label>
			<ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>Password</ion-label>
			<ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
		</ion-item>

	</ion-list>

	<div padding text-center>
		<button ion-button block (click)="signup(username, email, password)">Sign up</button>
		<button ion-button clear (click)="goToLogin()">Already have a Cherri account?</button>
	</div>
</ion-content>