<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="contact">
      Call with {{ contact.local.username }} 
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="endCall()">
        <span color="primary">Close</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<video class="inFocus" id="localVideo" muted autoplay></video>
	<video class="outFocus" id="remoteVideo" autoplay></video>
	<div class="cherri-call-button-container" text-center *ngIf="!isCallee">
    <p>
      You look great :)<br>
      Press the button when you're ready!
    </p>
		<button ion-button round icon-only tappable (click)="call()">
      <ion-icon name="call"></ion-icon>
    </button>
	</div>
  <div class="cherri-call-button-container" text-center *ngIf="isCallee">
    <p>
      Incoming call from {{ contact.local.username }}<br>
      Press the button when you're ready!
    </p>
		<button ion-button round icon-only tappable (click)="answer()">
      <ion-icon name="call"></ion-icon>
    </button>
  </div>
</ion-content>