page-video {
  video.inFocus {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
  }
  video.outFocus {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 20vw;
    height: auto;
  }
  header {
    text-align: right;
  }
  .cherri-call-button-container {
    width: 100vw;
    position: absolute;
    bottom: 10vh;
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);

    button {
      margin: 0 10px;
    }
  }
}